body{ 
    color: #fff;
    margin: 0;
    font-family: 'Forum', cursive;
    font-size: 24px;
    line-height: 1.6;
    color: #000000;
    /* Desktop - 1 */

    width: auto;
 
    /*background: url(/Images/mainBG2.jpg);
    background-size: cover;
    mix-blend-mode: normal;*/
}
.introtext {/* Помошь в получении вида на жительство */

/* Ключи к */


    position: absolute;
    left: 7.65%;
    top: 0.5%;

    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 37px;
    line-height: 0.3%;
    /* or 278% */

    font-feature-settings: 'tnum' on, 'lnum' on;

    color: #000000;
        }

/*intro картинка*/
.intro {
  left:0%;
  top: 0%;
  width: 100%;
  height: 100%;
    
}
.azortext2{/*Дом тишина и все что вам может понадобиться */
    position: absolute;
    left: 7.65%;
    top: 3%;
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 37px;
   
    /* or 278% */

    font-feature-settings: 'tnum' on, 'lnum' on;

    color: #000000;
}


img,a{
    border:none;
}


.whattext{
/*  Текст компании и что вы получите*/

  margin: 3% 7.65%;
  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
    line-height: 37px;
  font-feature-settings: 'tnum' on, 'lnum' on;

  color: #000000;
}

/* demo контейнер */
.demo {
            
  margin: 3% 7.65%;
  font-size: 24px;
 
  
  }
  /*Скрывающаяся часть */
 /* когда чекбокс активен показываем блоки с содержанием  */

 .texthide {
  
  display: none; 
  padding: 10px; 
  background: #efefef;
  
}

.naicherimg{
    width: 100% ;
    height: 50% ;
    
    background: url("Images/IMG_2986.JPG");
    background-size: cover;
    mix-blend-mode: normal;
}
.oucenimg{
    width: 50% ;
    height: 50% ;
    
    background: url("Images/19.jpeg");
    background-size: cover;
    mix-blend-mode: normal;
}


   



/*иноформация в конце */  
.bgform1{
    left: 2.78%;
    right:3.5%;
    top: 43.68%;
    bottom: 32.67%;

    background: rgba(243, 243, 243, 0.336);
}
.textsecsess{
    margin: 3% 7.65%;

    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 37px;
    font-feature-settings: 'tnum' on, 'lnum' on;

    color: #000000;
}

.textwehelp{
    
  
  margin: 3% 7.65%;
  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
    line-height: 37px;
  font-feature-settings: 'tnum' on, 'lnum' on;
  
  color: #000000;
}.textinform{
        
  
  margin: 3% 7.65%;
  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 31px;
  font-feature-settings: 'tnum' on, 'lnum' on;

  color: #000000;


}


/*инфомация в конце*/


/*Контакты*/

.contcactbg{
    width: 688px;
    height: 499px;
    

    background: #F3F3F3;
}

.contacttext1{
    
    margin: 3% 7.65%;
    
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 37px;
    font-feature-settings: 'tnum' on, 'lnum' on;
    
    color: #000000;
}
.contacttext2{
   
  margin: 3% 7.65%;
    
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 31px;
    font-feature-settings: 'tnum' on, 'lnum' on;
    
    color: #000000;
}
.contactemail{
    margin: 3% 7.65%;
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 31px;
    font-feature-settings: 'tnum' on, 'lnum' on;
    
    color: #000000;
}
.contactphonetext{
    margin: 3% 7.65%;
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 31px;
    font-feature-settings: 'tnum' on, 'lnum' on;

    color: #000000;
}
.contacthpone{
    margin: 3% 7.65%;
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 31px;
    font-feature-settings: 'tnum' on, 'lnum' on;
    
    color: #000000;
}
.mailimg{
  margin: 3% 7.65%;
    width: 5vh;
    height: 5vh;
    
    

    background: url(Images/emailim.png);
    background-size: cover;
    mix-blend-mode: normal;
}
/*контакты*/


 

/*скрывающаяся часть*/

   
    /*обтекание */  
      .rightimg  {
        width: 40%;
        height: 90%;  
        margin: 1% 2% 5%;
        float: left; /* Выравнивание по правому краю  */ 
        background-size: cover;
        mix-blend-mode: normal;
       }
  

/*Slider*/

.slider {
  position: relative;
    
    overflow: hidden;
  }

  .slider__wrapper {
    display: flex;
    transition: transform 0.6s ease;
  }

  .slider__item {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .slider__control {
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
    width: 40px;
    color: #fff;
    text-align: center;
    opacity: 0.9;
    height: 50px;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, .5);
  }

  .slider__control_show {
    display: flex;
  }

  .slider__control:hover,
  .slider__control:focus {
    color: rgb(255, 255, 255);
    text-decoration: none;
    outline: 0;
    opacity: 1;
  }

  .slider__control_left {
    top: 50%;
    left: 0;
  }

  .slider__control_right {
    top: 50%;
    right: 0%;
  }

  .slider__control::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
  }

  .slider__control_left::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
  }

  .slider__control_right::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
  }

  .slider_item_value{
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 31px;
    font-feature-settings: 'tnum' on, 'lnum' on;

    color: #000000;
}
  .slider__item>div {
    
    height: 100%;
    text-align: left;
    font-family: 'Forum', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 33px;
    font-feature-settings: 'tnum' on, 'lnum' on;
    background: #F3F3F3;
  }

  .slider_h2{
    font-size: 36px;
    line-height: 37px;
    margin: 2% 1% 1%;
    font-size:1.5em;
    font-size: 36px;
  }
   /* End Slider*/

   /* адаптивная верстка*/


   @media (max-width: 760px){
    p{
      margin:  3% 7.65% ;
    }
    .introtext{
      

      font-size: 20px;
      line-height: 14px;
    }
    .azorestext{
      
      
      font-family: Forum;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 14px;
      /* or 70% */
      
      font-feature-settings: 'tnum' on, 'lnum' on;
      
      color: #000000;
    }
    .azortext2{
      

      font-size: 14px;
      line-height: 14px;
      /* or 100% */
      margin: 5% 0 ;
     
    }
   
   
    
    .phonimg{
      
      width: 19px;
      height: 16px;
      left: 332px;
      top: 11px;
    }
  .whattext{
    
    margin:  3% 7.65% ;
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 15px;
  }
  .slider{
    margin:  3%;
    overflow: hidden;
  }   
.slider__control::before {
  width: 10px;
  height: 10px;
}
.slider_item_value{
  
  font-size: 14px;
  line-height: 15px;


}
.slider__item>div {
  
  height: 98%;
  font-size: 14px;
  line-height: 15px;

}
.rightimg{
  margin: 0% 0% 0%;
  width: 100%;
  height: 40%;
  align-items: center;
  background-size: cover;
  mix-blend-mode: normal;
}
.slider_h2{
    
  font-size: 20px;
  line-height: 22px;
}

.slider__control {

}

.textsecsess{
  margin:  3% 7.65% ;
  font-size: 20px;
  line-height: 22px;
  
}
.demo {
          
  
  margin:  3% 7.65% ;
  font-size: 14px;
  line-height: 15px;
  }


    .textwehelp{
     

      font-size: 20px;
      line-height: 22px;
      
    }
    .textinform{
      
      font-family: Forum;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 15px;
    }
    .contacttext1{
     
      
      font-family: Forum;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 22px;
    }
    .contacttext2{
      width: 90%;
        
        font-family: Forum;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 15px;
    }
    .contactemail{
     
      
      font-family: Forum;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 22px;
    }
    
    .contactphonetext{
      

      font-family: Forum;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 15px;
    }
    .contacthpone{
     
      
      font-family: Forum;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 22px;
    }
    .mailimg{
      height: 0.1%;
      width: 0.1%;
      position: absolute;
      left: 43.61%;
      right: 43.61%;
      top: 98.3%;
      bottom: 0.19%;
    }
    .teleport{
      top: 84.54%;
    }
  }
